.farm-card {
    border: 5px solid red;
    width: 450px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    flex-wrap: wrap;
}